<div class="bg-black h-screen overflow-hidden">
    <main class="flex">
        <%= render partial: "partials/sidebar" %>
        <div class="flex-grow h-screen overflow-y-scroll scollbar-hide">
            <%= render partial: "partials/header" %>
            <section class="flex items-end space-x-7 bg-gradient-to-b to-zinc-800 from-red-500 h-56 text-white p-8">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-red-500" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M18 9.5a1.5 1.5 0 11-3 0v-6a1.5 1.5 0 013 0v6zM14 9.667v-5.43a2 2 0 00-1.105-1.79l-.05-.025A4 4 0 0011.055 2H5.64a2 2 0 00-1.962 1.608l-1.2 6A2 2 0 004.44 12H8v4a2 2 0 002 2 1 1 0 001-1v-.667a4 4 0 01.8-2.4l1.4-1.866a4 4 0 00.8-2.4z" />
                </svg>
                <h1 class="text-2xl md:text-3xl xl:text-5xl font-bold">Episodes</h1>
            </section>
            <section class="pb-80">
                <div class="bg-gradient-to-b to-black from-zinc-900 md:px-8 flex flex-col space-y-1 pt-3 text-white text-md md:text-lg">
                    <div class="grid grid-cols-6 md:grid-cols-8 lg:grid-cols-12 text-gray-400 py-4 px-2 md:px-5 italic">
                        <div class="flex items-center space-x-2 md:space-x-4 col-span-4 lg:col-span-5">
                            <h2>#</h2>
                            <h2>Episode Name</h2>
                        </div>
                        <div class="hidden lg:flex items-center justify-between col-span-4">
                            <h2>Show Name</h2>
                        </div>
                        <div class="hidden md:flex items-center justify-between">
                            <h2>Duration</h2>
                        </div>
                        <div class="flex items-center justify-end col-span-2">
                            <h2>Actions</h2>
                        </div>
                    </div>
                    <hr class="border-t-[0.1px] border-gray-700" />
                    <% @disliked_episodes.each_with_index do |e, i| %>
                        <div class="grid grid-cols-6 md:grid-cols-8 lg:grid-cols-12 text-gray-300 py-4 px-2 md:px-5 hover:bg-gray-700 rounded-lg">
                            <div class="flex items-center space-x-2 md:space-x-4 col-span-4 lg:col-span-5">
                                <%= link_to episode_path(e) do %>
                                    <div class="flex items-center space-x-2 md:space-x-4 cursor-pointer">
                                        <p><%= i + 1 %></p>
                                        <img class="hidden lg:inline h-10 w-10" src=<%= url_for(e.image) %> alt="" />
                                        <div>
                                            <p class="break-all w-18 md:w-28 lg:w-64 text-white"><%= e.episode_name %></p>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                            <div class="hidden lg:flex items-center justify-between col-span-4">
                                <p class="w-36 lg:w-64 truncate"><%= e.show_name %></p>
                            </div>
                            <div class="hidden md:flex items-center justify-between">
                                <p><%= episode_information_formatting_time(e.duration) %></p>
                            </div>
                            <div class="flex items-center justify-end gap-2 md:gap-6 col-span-2">
                                <%= generate_button_svg_thumbs_and_comment(e, 8, 8) %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </section>
        </div>
    </main>
    <div class="sticky bottom-0 h-<%= player_sticky_height %>">
        <%= render partial: "partials/player" %>
    </div>
</div>
